<h1>Richard Sung</h1>
<a href="/contact"><img src="" alt="A Picture"></a>

<ul>
	<li>1st thing about me</li>
	<li>2nd thing about me</li>
	<li>3rd thing about me</li>
	<li>4th thing about me</li>
	<li>5th thing about me</li>
</ul>

